/* omnigothic */
@font-face { font-family: "OmNiGothic"; font-style: normal; font-weight: 300; src: url(../../fonts/210Gothic030.woff) format("woff"); }

@font-face { font-family: "OmNiGothic"; font-style: normal; font-weight: 400; src: url(../../fonts/210Gothic040.woff) format("woff"); }

@font-face { font-family: "OmNiGothic"; font-style: normal; font-weight: 600; src: url(../../fonts/210Gothic050.woff) format("woff"); }

/* Inter */
@font-face { font-family: "Inter"; font-style: normal; font-weight: 300; src: url(../../fonts/InterRegular.woff) format("woff"); }

@font-face { font-family: "Inter"; font-style: normal; font-weight: 400; src: url(../../fonts/InterMedium.woff) format("woff"); }

@font-face { font-family: "Inter"; font-style: normal; font-weight: 600; src: url(../../fonts/InterSemiBold.woff) format("woff"); }

/* reset css */
article, aside, footer, header, nav, section { display: block; }

h1 { font-size: 2em; margin: 0.67em 0; }

figcaption, figure, main { display: block; }

figure { margin: 1em 40px; }

hr { box-sizing: content-box; height: 0; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; -webkit-text-decoration-skip: objects; outline: none; }

abbr[title] { border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }

b, strong { font-weight: inherit; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

small { font-size: 80%; }

audio, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

img { border-style: none; }

svg:not(:root) { overflow: hidden; }

button, input, optgroup, select, textarea { margin: 0; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0; white-space: normal; }

progress { display: inline-block; vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }

details, menu { display: block; }

summary { display: list-item; }

canvas { display: inline-block; }

template { display: none; }

[hidden] { display: none; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { width: 100%; text-align: left; border-collapse: collapse; border-spacing: 0; }

/* Font style setting */
/* Point color setting */
/* Background - color setting */
/* Border - color setting */
/* Font - color setting */
/* Input - color setting */
/* Button - color setting */
/** BASE SETTING */
footer .footer_wrap ul li:after { content: " "; display: block; clear: both; }

/*
@media only screen and (max-width:1024px) {
	html {font-size:25px !important;}
}
@media only screen and (max-width:840px) {
	html {font-size:22px !important;}
}
@media only screen and (max-width:768px) {
	html {font-size:18px !important;}
}
@media only screen and (max-width:718px) {
	html {font-size:17px !important;}
}
@media only screen and (max-width:669px) {
	html {font-size:16px !important;}
}
@media only screen and (max-width:620px) {
	html {font-size:15px !important;}
}
@media only screen and (max-width:571px) {
	html {font-size:14px !important;}
}
@media only screen and (max-width:522px) {
	html {font-size:13px !important;}
}
@media only screen and (max-width:473px) {
	html {font-size:12px !important;}
}
@media only screen and (max-width:424px) {
	html {font-size:11px !important;}
}
@media only screen and (max-width:375px) {
	html {font-size:10px !important;}
}
@media only screen and (max-width:325px) {
	html {font-size:8px !important;}
}
@media only screen and (max-width:300px) {
	html {font-size:7px !important;}
}*/
body { -webkit-backface-visibility: hidden; }

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button { padding: 0; font-family: "omnigothic", Arial, Apple SD Gothic Neo, sans-serif; outline: none; }

a { text-decoration: none; cursor: pointer; color: #000; }

a:link, a:visited, a:active, a:hover { text-decoration: none; }

select, input, button, textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-color: transparent; border: 0 none; font-size: 20px; font-weight: 400; font-family: "omnigothic", Arial, Apple SD Gothic Neo, sans-serif; line-height: 1; }

select[type="checkbox"], input[type="checkbox"], button[type="checkbox"], textarea[type="checkbox"] { -webkit-appearance: checkbox; }

select[type="radio"], input[type="radio"], button[type="radio"], textarea[type="radio"] { -webkit-appearance: radio; }

select::-ms-expand, input::-ms-expand, button::-ms-expand, textarea::-ms-expand { display: none; }

html, body { font-family: "omnigothic", Arial, Apple SD Gothic Neo, sans-serif; font-size: 20px; font-weight: 400; color: #000; word-break: keep-all; line-height: 1; letter-spacing: 0; -webkit-font-smoothing: antialiased; }

strong, h1, h2, h3, h4, h5, h6 { font-weight: 700; }

label, button { cursor: pointer; }

body { overflow-x: hidden; }

header { width: 100%; position: absolute; z-index: 100; }

header #logo { width: 33.73333vw; margin: 4vw 0 0 5.33333vw; }

header #logo img { width: 100%; }

header nav { position: fixed; bottom: 29.33333vw; right: 5.33333vw; z-index: 99; }

header nav.active { bottom: 42.66667vw; }

header nav .page_dir { width: 13.33333vw; height: 13.33333vw; display: block; background: url("../../images/common/nav_up.png") no-repeat 0 0; background-size: cover; font-size: 0; overflow: hidden; }

header nav .page_dir.next { margin: 2.66667vw 0 0; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }

footer { position: relative; background-color: #1b1b1b; z-index: 50; }

footer .donate_wrap { width: 100%; padding: 0 5.33333vw 5.33333vw; position: fixed; bottom: 0; z-index: 10; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

footer .donate_wrap.active { position: absolute; padding: 0 5.33333vw 18.8vw; bottom: 0; opacity: 1; }

footer .donate_wrap .donate_btn { text-align: center; background-color: #e42020; font-style: normal; font-weight: 400; border-radius: 1.33333vw; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

footer .donate_wrap .donate_btn a { display: block; padding: 6.4vw 0 5.46667vw; font-size: 5.6vw; color: #fff; font-weight: 400; letter-spacing: -0.24vw; }

footer .footer_wrap { width: 100%; text-align: center; padding: 3.2vw 0 2.66667vw; font-family: "omnigothic", Arial, Apple SD Gothic Neo, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

footer .footer_wrap ul { padding: 1.33333vw 0 0; overflow: hidden; font-size: 0; }

footer .footer_wrap ul.address { padding: 0; }

footer .footer_wrap ul li { position: relative; padding: 0 0 0 2vw; display: inline-block; vertical-align: middle; font-size: 2.4vw; color: #707279; font-weight: 300; line-height: 2.66667vw; letter-spacing: -0.16vw; }

footer .footer_wrap ul li:first-child { padding: 0; }

footer .footer_wrap ul li:first-child:before { display: none; }

footer .footer_wrap ul li:before { width: 1px; height: 100%; content: ""; display: block; background-color: #323437; position: absolute; left: 0.93333vw; top: 0.13333vw; }

footer .footer_wrap ul li span { font-weight: 400; }

#container .point_wrap { text-align: center; margin: 0 0 8vw; }

#container .point_wrap span { display: inline-block; color: #2d2d2d; font-size: 4.8vw; font-weight: 400; letter-spacing: -0.18667vw; position: relative; z-index: 1; }

#container .point_wrap span:before { width: 4.8vw; height: 4.93333vw; position: absolute; top: -3.06667vw; left: -2.4vw; background-color: #fdd765; content: ''; z-index: -1; opacity: 0.4; filter: alpha(opacity=40); -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #visual { width: 100%; min-height: 141.33333vw; overflow: hidden; display: flex; text-align: center; justify-content: center; align-items: center; color: #2d2d2d; position: relative; }

#container #visual h2 strong { display: block; font-size: 14.93333vw; letter-spacing: -0.8vw; font-weight: 400; }

#container #visual h2 span { display: block; font-size: 3.46667vw; letter-spacing: -0.16vw; font-weight: 300; margin: 1.86667vw 0 0; }

#container #visual .bg_circle_1 { width: 89.33333vw; height: 89.33333vw; position: absolute; top: 25.33333vw; left: 50%; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#container #visual .bg_circle_1 span, #container #visual .bg_circle_1 i, #container #visual .bg_circle_1 img { width: 89.33333vw; height: 89.33333vw; display: block; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #visual .bg_circle_1 span { background-image: url(../../images/main/circle_1.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #visual .bg_circle_1 .circle_1_red { background-image: url(../../images/main/circle_1_red.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #visual .bg_circle_1 .circle_1_yellow { background-image: url(../../images/main/circle_1_yellow.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #visual .bg_circle_1 .circle_1_darkgreen { background-image: url(../../images/main/circle_1_darkgreen.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #visual .bg_circle_1 .circle_1_green { background-image: url(../../images/main/circle_1_green.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #visual .bg_circle_2 { width: 116.13333vw; height: 116.13333vw; position: absolute; top: 12vw; left: 50%; z-index: 1; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#container #visual .bg_circle_2 span, #container #visual .bg_circle_2 i { width: 116.13333vw; height: 116.13333vw; display: block; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #visual .bg_circle_2 span { background-image: url(../../images/main/circle_2.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #visual .bg_circle_2 .circle_2_blue { background-image: url(../../images/main/circle_2_blue.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #visual .bg_circle_2 .circle_2_green { background-image: url(../../images/main/circle_2_green.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #visual .bg_circle_2 .circle_2_yellow { background-image: url(../../images/main/circle_2_yellow.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #visual .bg_circle_3 { width: 140vw; height: 140vw; position: absolute; top: 0; left: 50%; z-index: 1; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#container #visual .bg_circle_3 span, #container #visual .bg_circle_3 i { width: 140vw; height: 140vw; display: block; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #visual .bg_circle_3 span { background-image: url(../../images/main/circle_3.png); }

#container #visual .bg_circle_3 .circle_3_blue { background-image: url(../../images/main/circle_3_blue.png); -webkit-animation: circleRotate 35s linear infinite; -moz-animation: circleRotate 35s linear infinite; animation: circleRotate 35s linear infinite; }

#container #about { text-align: center; color: #2d2d2d; }

#container #about .title_wrap { font-size: 4vw; line-height: 5.86667vw; letter-spacing: -0.24vw; font-weight: 400; padding: 52.8vw 0 52.13333vw; background-image: url(../../images/main/about_bg.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #about .info_wrap { font-size: 3.46667vw; line-height: 5.33333vw; letter-spacing: -0.21333vw; font-weight: 300; padding: 45.6vw 0 42.93333vw; background-image: url(../../images/main/about_bg02.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #about .info_wrap p:first-child { margin: 0 0 2.13333vw; }

#container #report .title_wrap { text-align: center; font-size: 4vw; line-height: 5.86667vw; letter-spacing: -0.24vw; color: #2d2d2d; font-weight: 400; padding: 16.4vw 0 12.93333vw; position: relative; }

#container #report .title_wrap:before, #container #report .title_wrap:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #report .title_wrap:before { background-color: #94b0ff; top: 5.46667vw; right: 50%; margin: 0 -35.33333vw 0 0; }

#container #report .title_wrap:after { background-color: #fdd765; top: 8.66667vw; left: 50%; margin: 0 0 0 -44.8vw; }

#container #report .total_wrap { text-align: center; padding: 0 5.33333vw; margin: 0 0 16.13333vw; position: relative; }

#container #report .total_wrap:before, #container #report .total_wrap:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #report .total_wrap:before { background-color: #88e27c; top: 7.46667vw; left: 50%; margin: 0 0 0 -39.33333vw; }

#container #report .total_wrap:after { background-color: #fdd765; bottom: -0.4vw; right: 50%; margin: 0 -42.8vw 0 0; }

#container #report .total_wrap > span { width: 100%; height: 58.13333vw; text-indent: -99999px; display: block; background-image: url(../../images/main/report.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #report .total_wrap p { color: #2d2d2d; font-size: 3.46667vw; letter-spacing: -0.21333vw; margin: 2.4vw 0 0; position: relative; }

#container #report .total_wrap p:before, #container #report .total_wrap p:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #report .total_wrap p:before { background-color: #fc696a; top: 5.73333vw; left: 50%; margin: 0 0 0 -40.8vw; }

#container #report .total_wrap p:after { background-color: #88e27c; bottom: -12.26667vw; right: 50%; margin: 0 -16.8vw 0 0; }

#container #report .total_wrap p em { display: inline-block; vertical-align: bottom; color: #ff5758; font-size: 9.6vw; font-weight: 600; font-family: "Inter", Arial, Apple SD Gothic Neo, sans-serif; letter-spacing: -0.05333vw; position: relative; }

#container #report .total_wrap p em:after { font-size: 5.33333vw; position: absolute; bottom: 0.53333vw; right: -4.26667vw; content: '%'; }

#container #report .total_wrap p span { display: inline-block; vertical-align: bottom; position: relative; top: -1.06667vw; margin: 0 0 0 5.06667vw; }

#container #report .info_wrap { position: relative; }

#container #report .info_wrap:before { width: 134.66667vw; height: 134.66667vw; content: ''; background-image: url(../../images/main/report_bg.png); position: absolute; top: 13.46667vw; left: -60.4vw; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #report .info_wrap > div { height: 45.33333vw; display: flex; align-items: center; position: relative; }

#container #report .info_wrap > div:before { width: 45.33333vw; height: 45.33333vw; content: ''; position: absolute; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #report .info_wrap > div p { color: #2d2d2d; font-size: 3.46667vw; line-height: 4.8vw; letter-spacing: -0.24vw; font-weight: 300; }

#container #report .info_wrap > div strong { font-weight: 400; }

#container #report .info_wrap > div span { display: block; color: #ff5758; font-size: 5.33333vw; letter-spacing: -0.24vw; font-weight: 600; }

#container #report .info_wrap > div em { font-family: "Inter", Arial, Apple SD Gothic Neo, sans-serif; font-size: 9.6vw; letter-spacing: -0.16vw; position: relative; top: 1.06667vw; }

#container #report .info_wrap .info_type01 { padding: 0 5.33333vw 0 58.66667vw; }

#container #report .info_wrap .info_type01:before { background-image: url(../../images/main/report_info01.png); top: 0; left: 5.33333vw; }

#container #report .info_wrap .info_type01 p:before, #container #report .info_wrap .info_type01 p:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #report .info_wrap .info_type01 p:before { background-color: #94b0ff; top: 38.26667vw; right: 50%; margin: 0 -42.26667vw 0 0; }

#container #report .info_wrap .info_type01 p:after { background-color: #88e27c; top: 50.8vw; left: 50%; margin: 0 0 0 -38vw; }

#container #report .info_wrap .info_type02 { padding: 0 58.66667vw 0 5.33333vw; margin: 13.33333vw 0; text-align: right; justify-content: flex-end; }

#container #report .info_wrap .info_type02:before { background-image: url(../../images/main/report_info02.png); top: 0; right: 5.33333vw; }

#container #report .info_wrap .info_type02 p:before, #container #report .info_wrap .info_type02 p:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #report .info_wrap .info_type02 p:before { background-color: #fc696a; top: 49.2vw; right: 50%; margin: 0 -36vw 0 0; }

#container #report .info_wrap .info_type02 p:after { background-color: #fdd765; top: 39.06667vw; left: 50%; margin: 0 0 0 -41.73333vw; }

#container #report .info_wrap .info_type03 { padding: 0 5.33333vw 0 58.66667vw; }

#container #report .info_wrap .info_type03:before { background-image: url(../../images/main/report_info03.png); top: 0; left: 5.33333vw; }

#container #impetus { color: #2d2d2d; text-align: center; }

#container #impetus .title_wrap { font-size: 4vw; line-height: 5.86667vw; letter-spacing: -0.24vw; font-weight: 400; padding: 60.4vw 0 46.8vw; background-image: url(../../images/main/impetus_bg.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; /*&:after { width:100%; height:100%; content:''; background-image:url(../../images/main/impetus_bg.png); @include backgroundSoltC(); }*/ }

#container #impetus .partnership_wrap { color: #2d2d2d; font-size: 3.46667vw; line-height: 5.33333vw; letter-spacing: -0.2vw; font-weight: 300; padding: 10.13333vw 0 76.8vw; position: relative; }

#container #impetus .partnership_wrap:before { content: ''; width: 100%; height: 76.8vw; position: absolute; bottom: 0; left: 0; background-image: url(../../images/main/partnership_bg.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #impetus .partnership_wrap:after { width: 1.06667vw; height: 1.06667vw; content: ''; position: absolute; bottom: -5.06667vw; left: 50%; margin: 0 0 0 -22.53333vw; background-color: #fdd765; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #history .title_wrap { color: #ed3637; font-size: 4vw; line-height: 5.86667vw; letter-spacing: -0.24vw; font-weight: 400; text-align: center; padding: 62.4vw 0 40.8vw; position: relative; margin: 0 0 0.26667vw; }

#container #history .title_wrap:before { width: 93.46667vw; height: 94.4vw; content: ''; background-image: url(../../images/main/history_title_bg.png); position: absolute; top: 20.53333vw; /*left:50%;*/ left: 3.33333vw; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #history .detail_wrap { letter-spacing: -0.21333vw; padding: 17.86667vw 0 14.4vw; position: relative; }

#container #history .detail_wrap:before { width: 100vw; height: 378.53333vw; content: ''; position: absolute; top: 0; left: 0; background-image: url(../../images/main/detail_line.png); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #history .detail_wrap div { padding: 63.73333vw 5.33333vw 0; position: relative; }

#container #history .detail_wrap div:before { width: 57.6vw; height: 57.6vw; content: ''; position: absolute; top: 0; left: 50%; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#container #history .detail_wrap p { color: #2d2d2d; font-size: 3.73333vw; line-height: 5.86667vw; margin: 0 0 3.06667vw; position: relative; }

#container #history .detail_wrap p:before { width: 2.26667vw; height: 2.13333vw; content: ''; background-image: url(../../images/main/icon_quotes.png); position: absolute; top: -0.8vw; left: -1.33333vw; z-index: -1; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #history .detail_wrap dl { line-height: 5.86667vw; }

#container #history .detail_wrap dt { color: #b3b4b4; font-size: 3.46667vw; }

#container #history .detail_wrap dt span { color: #ff5758; }

#container #history .detail_wrap dd { color: #474747; font-size: 3.46667vw; font-weight: 300; }

#container #history .detail_wrap em { font-family: "Inter", Arial, Apple SD Gothic Neo, sans-serif; }

#container #history .detail01:before { background-image: url(../../images/main/history_detail01.png); }

#container #history .detail02 { margin: 20.66667vw 0 20.26667vw; }

#container #history .detail02:before { background-image: url(../../images/main/history_detail02.png); }

#container #history .detail03:before { background-image: url(../../images/main/history_detail03.png); }

#container #participation { padding: 21.73333vw 0 2.26667vw; }

#container #participation .join_swiper { padding: 0 15.33333vw; }

#container #participation .join_swiper .swiper-wrapper { margin: 0 0 6.93333vw; }

#container #participation .join_swiper .swiper-slide { background-color: #f7f7f8; /*margin:0 vw(15);*/ padding: 10.66667vw 0 11.06667vw; -webkit-border-radius: 2.66667vw; -moz-border-radius: 2.66667vw; border-radius: 2.66667vw; }

#container #participation .join_swiper .txt_box { padding: 36.8vw 0 0; position: relative; letter-spacing: -0.21333vw; text-align: center; }

#container #participation .join_swiper .txt_box strong { display: block; color: #ff5758; font-size: 4vw; font-weight: 400; margin: 0 0 2.66667vw; }

#container #participation .join_swiper .txt_box p { color: #2d2d2d; font-size: 3.2vw; line-height: 4.8vw; font-weight: 300; }

#container #participation .join_swiper .txt_box:before { width: 32vw; height: 32vw; content: ''; position: absolute; top: 0; left: 50%; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

#container #participation .join_swiper .bg_type01 .txt_box:before { background-image: url(../../images/main/join_bg01.png); }

#container #participation .join_swiper .bg_type02 .txt_box:before { background-image: url(../../images/main/join_bg02.png); }

#container #participation .join_swiper .bg_type03 .txt_box:before { background-image: url(../../images/main/join_bg03.png); }

#container #participation .join_swiper .bg_type04 .txt_box:before { background-image: url(../../images/main/join_bg04.png); }

#container #participation .join_swiper .bg_type05 .txt_box:before { background-image: url(../../images/main/join_bg05.png); }

#container #participation .join_swiper .bg_type06 .txt_box:before { background-image: url(../../images/main/join_bg06.png); }

#container #participation .join_swiper .swiper-pagination { width: 100%; text-align: center; left: 0; bottom: 0; }

#container #participation .join_swiper .swiper-pagination-bullet { width: 2.13333vw; height: 2.13333vw; background-color: #ffc6c6; margin: 0 0.93333vw; opacity: 1; filter: alpha(opacity=100); }

#container #participation .join_swiper .swiper-pagination-bullet-active { background-color: #ff5758; }

#container #process { padding: 21.73333vw 0 1.73333vw; }

#container #process ol { padding: 0 0 0 5.86667vw; letter-spacing: -0.24vw; position: relative; }

#container #process ol:before { width: 0.13333vw; height: calc(100% - 3.33333vw); content: ''; position: absolute; top: 0; left: 10.53333vw; background: url(../../images/main/line.png) repeat-y 0 0; }

#container #process ol li { position: relative; padding: 0 0 0 12vw; margin: 6vw 0 0; }

#container #process ol li:first-child { margin: 0; }

#container #process ol li:before, #container #process ol li:after { position: absolute; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #process ol li:after { width: 9.33333vw; height: 9.33333vw; border: 0.13333vw solid #fc696a; content: ''; top: 0; left: 0; background-color: #fff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#container #process ol li:before { width: 6.66667vw; height: 6.66667vw; font-size: 3.2vw; line-height: 6.66667vw; font-family: "Inter", Arial, Apple SD Gothic Neo, sans-serif; text-align: center; color: #fff; background-color: #fc696a; top: 1.33333vw; left: 1.33333vw; letter-spacing: -0.05333vw; z-index: 1; }

#container #process ol li:nth-of-type(1):before { content: '1'; }

#container #process ol li:nth-of-type(2):before { content: '2'; }

#container #process ol li:nth-of-type(3):before { content: '3'; }

#container #process ol li:nth-of-type(4):before { content: '4'; }

#container #process ol strong { display: block; color: #ff5758; font-size: 4vw; padding: 3.06667vw 0 2.66667vw; font-weight: 400; }

#container #process ol span { display: block; color: #2d2d2d; font-size: 3.2vw; line-height: 3.33333vw; font-weight: 300; letter-spacing: -0.18667vw; }

#container #process .btn_wrap { margin: 12.26667vw 0 6.66667vw; padding: 0 5.33333vw; overflow: hidden; letter-spacing: -0.21333vw; }

#container #process .btn_wrap a { width: calc(50% - 0.66667vw); font-size: 3.46667vw; padding: 4.53333vw 0 4vw; display: block; border: 0.26667vw solid #ff5758; text-align: center; -webkit-border-radius: 1.33333vw; -moz-border-radius: 1.33333vw; border-radius: 1.33333vw; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#container #process .btn_wrap .btn_type01 { float: left; color: #fff; background-color: #ff5758; }

#container #process .btn_wrap .btn_type02 { float: right; color: #ff5758; background-color: #fff; }

#container #process .info_wrap { margin: 0 5.33333vw; background-color: #f7f7f8; padding: 3.2vw 4vw; color: #8b8c8c; font-weight: 300; font-size: 2.66667vw; line-height: 4.26667vw; letter-spacing: -0.16vw; -webkit-border-radius: 1.33333vw; -moz-border-radius: 1.33333vw; border-radius: 1.33333vw; }

#container #process .info_wrap ul { margin: 1.6vw 0 0; }

#container #process .info_wrap li { position: relative; padding: 0 0 0 2vw; }

#container #process .info_wrap li:before { width: 0.8vw; height: 0.8vw; content: ''; background-color: #8b8c8c; position: absolute; top: 1.33333vw; left: 0; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

#container #impact { padding: 21.73333vw 5.33333vw 0; }

#container #impact .detail_wrap div { height: 26.66667vw; display: flex; align-items: center; padding: 0 0 0 33.06667vw; margin: 8vw 0 0; position: relative; }

#container #impact .detail_wrap div:first-child { margin: 0; }

#container #impact .detail_wrap div:before { width: 26.66667vw; height: 26.66667vw; content: ''; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #impact .detail_wrap dt { font-size: 4vw; color: #ff5758; margin: 0 0 2.4vw; letter-spacing: -0.24vw; }

#container #impact .detail_wrap dd { font-size: 3.2vw; line-height: 4.8vw; font-weight: 300; letter-spacing: -0.18667vw; }

#container #impact .detail_wrap .bg_type01:before { background-image: url(../../images/main/impact_bg01.png); }

#container #impact .detail_wrap .bg_type02:before { background-image: url(../../images/main/impact_bg02.png); }

#container #impact .detail_wrap .bg_type03:before { background-image: url(../../images/main/impact_bg03.png); }

#container #impact .detail_wrap .bg_type04:before { background-image: url(../../images/main/impact_bg04.png); }

#container #together { padding: 17.33333vw 0 21.33333vw; }

#container #together h4 { text-align: center; }

#container #together h4 > span { display: block; color: #2d2d2d; font-size: 3.2vw; line-height: 5.86667vw; font-weight: 300; letter-spacing: -0.13333vw; }

#container #together h4 strong { display: block; color: #2d2d2d; font-size: 4.53333vw; line-height: 6.4vw; font-weight: 400; margin: 0.93333vw 0 0; letter-spacing: -0.26667vw; }

#container #together h4 strong span { color: #ed3637; }

#container #together .circle_wrap { padding: 62vw 0 58.4vw; position: relative; overflow: hidden; height: 140vw; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#container #together .circle_wrap:before { width: 140vw; height: 140vw; content: ''; background-image: url(../../images/main/outro_circle_3.png); position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #together .circle_wrap .bg_circle_1 { width: 89.33333vw; height: 89.33333vw; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#container #together .circle_wrap .bg_circle_1 span, #container #together .circle_wrap .bg_circle_1 i { width: 89.33333vw; height: 89.33333vw; display: block; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #together .circle_wrap .bg_circle_1 span { background-image: url(../../images/main/circle_1.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #together .circle_wrap .bg_circle_1 .circle_1_darkgreen { background-image: url(../../images/main/outro_circle_1_darkgreen.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #together .circle_wrap .bg_circle_1 .circle_1_green { background-image: url(../../images/main/outro_circle_1_green.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #together .circle_wrap .bg_circle_1 .circle_1_red { background-image: url(../../images/main/outro_circle_1_red.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #together .circle_wrap .bg_circle_1 .circle_1_yellow { background-image: url(../../images/main/outro_circle_1_yellow.png); -webkit-animation: circleRotate 50s linear infinite; -moz-animation: circleRotate 50s linear infinite; animation: circleRotate 50s linear infinite; }

#container #together .circle_wrap .bg_circle_2 { width: 116.13333vw; height: 116.13333vw; position: absolute; top: 50%; left: 50%; z-index: 1; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#container #together .circle_wrap .bg_circle_2 span, #container #together .circle_wrap .bg_circle_2 i { width: 116.13333vw; height: 116.13333vw; display: block; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

#container #together .circle_wrap .bg_circle_2 span { background-image: url(../../images/main/circle_2.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #together .circle_wrap .bg_circle_2 .circle_2_blue { background-image: url(../../images/main/outro_circle_2_blue.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #together .circle_wrap .bg_circle_2 .circle_2_blue2 { background-image: url(../../images/main/outro_circle_2_blue2.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

#container #together .circle_wrap .bg_circle_2 .circle_2_red { background-image: url(../../images/main/outro_circle_2_red.png); -webkit-animation: circleRotate 45s linear infinite; -moz-animation: circleRotate 45s linear infinite; animation: circleRotate 45s linear infinite; }

@keyframes circleRotate { 0% { -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  0% { -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

/* common css */
::selection { background: #fff; color: #000; text-shadow: none; }

::-moz-selection { background: #fff; color: #000; text-shadow: none; }

img { vertical-align: top; image-rendering: -webkit-optimize-contrast; }

caption { width: 1px; height: 1px; overflow: hidden; margin: -1px; }

.hidden-txt, legend { width: 0; height: 0; overflow: hidden; display: inline-block; text-indent: -9999px; line-height: 1px; position: absolute; }

.yt_popup { width: 100%; height: 100vh; background-color: #000; position: fixed; top: 0; left: 0; z-index: 9999; padding: 0 5%; display: none; opacity: 0; filter: alpha(opacity=0); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.yt_popup iframe { width: 100%; height: 100%; }

.yt_popup .pop_close { width: 50px; height: 50px; position: absolute; top: 20px; right: 20px; overflow: hidden; text-indent: 9999px; }

.yt_popup .pop_close:after { width: 80%; height: 3px; content: ""; display: block; background-color: #fff; position: absolute; top: 20px; left: 10%; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

.yt_popup .pop_close:before { width: 80%; height: 3px; content: ""; display: block; background-color: #fff; position: absolute; top: 20px; left: 10%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

img { width: 100%; image-rendering: auto; }

.video_wrap { width: 100%; position: relative; padding: 0 0 56.20%; }

.video_wrap iframe { width: 100%; height: 100%; position: absolute; to: 0; left: 0; }

.video_wrap .yt_player, .video_wrap .img_wrap { width: 100%; height: 100%; position: absolute; top: 0; left: 0; -ms-background-position-x: 50%; background-position-x: 50%; -ms-background-position-y: 50%; background-position-y: 50%; -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }

.yt_play_btn { width: 104px; height: 104px; position: absolute; top: 50%; left: 50%; text-indent: -9999px; border-width: 2px; border-style: solid; border-color: #fff; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; }

.yt_play_btn:hover, .yt_play_btn:focus { background-color: #fff; }

.yt_play_btn:hover:after, .yt_play_btn:focus:after { border-left-color: #000; }

.yt_play_btn:after { width: 0; height: 0; display: block; content: ""; border-left-style: solid; border-left-width: 23px; border-left-color: #fff; border-top: 14px solid transparent; border-bottom: 14px solid transparent; position: absolute; top: 38px; left: 44px; }

.guide_line:before, .guide_line:after { width: 1px; height: 100vh; display: block; content: ""; position: fixed; background-color: #e42020; opacity: .7; z-index: 1000; }

.guide_line:before { left: 5.33333vw; }

.guide_line:after { right: 5.33333vw; }

.guide_line .guide_center { width: 1px; height: 100vh; display: block; content: ""; position: fixed; background-color: #e42020; opacity: .7; left: 50%; z-index: 1000; }

@font-face { font-family: swiper-icons; src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff"); font-weight: 400; font-style: normal; }

:root { --swiper-theme-color:#007aff; }

.swiper-container { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; }

.swiper-container-vertical > .swiper-wrapper { flex-direction: column; }

.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transition-property: transform; box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper { transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper { flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper { flex-wrap: wrap; flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper { transition-timing-function: ease-out; margin: 0 auto; }

.swiper-slide { flex-shrink: 0; width: 100%; height: 100%; position: relative; transition-property: transform; }

.swiper-slide-invisible-blank { visibility: hidden; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide { height: auto; }

.swiper-container-autoheight .swiper-wrapper { align-items: flex-start; transition-property: transform,height; }

.swiper-container-3d { perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper { transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top { position: absolute; left: 0; top: 0; width: 100%; height: 100%; pointer-events: none; z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left { background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-right { background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-top { background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-3d .swiper-slide-shadow-bottom { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.swiper-container-css-mode > .swiper-wrapper { overflow: auto; scrollbar-width: none; -ms-overflow-style: none; }

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar { display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide { scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper { scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper { scroll-snap-type: y mandatory; }

:root { --swiper-navigation-size:44px; }

.swiper-button-next, .swiper-button-prev { position: absolute; top: 50%; width: calc(var(--swiper-navigation-size)/ 44 * 27); height: var(--swiper-navigation-size); margin-top: calc(-1 * var(--swiper-navigation-size)/ 2); z-index: 10; cursor: pointer; display: flex; align-items: center; justify-content: center; color: var(--swiper-navigation-color, var(--swiper-theme-color)); }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: .35; cursor: auto; pointer-events: none; }

.swiper-button-next:after, .swiper-button-prev:after { font-family: swiper-icons; font-size: var(--swiper-navigation-size); text-transform: none !important; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next { left: 10px; right: auto; }

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after { content: 'prev'; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev { right: 10px; left: auto; }

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after { content: 'next'; }

.swiper-button-next.swiper-button-white, .swiper-button-prev.swiper-button-white { --swiper-navigation-color:#ffffff; }

.swiper-button-next.swiper-button-black, .swiper-button-prev.swiper-button-black { --swiper-navigation-color:#000000; }

.swiper-button-lock { display: none; }

.swiper-pagination { position: absolute; text-align: center; transition: .3s opacity; transform: translate3d(0, 0, 0); z-index: 10; }

.swiper-pagination.swiper-pagination-hidden { opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: 10px; left: 0; width: 100%; }

.swiper-pagination-bullets-dynamic { overflow: hidden; font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { transform: scale(0.33); position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active { transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main { transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev { transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev { transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next { transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next { transform: scale(0.33); }

.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: #000; opacity: .2; }

button.swiper-pagination-bullet { border: none; margin: 0; padding: 0; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet { cursor: pointer; }

.swiper-pagination-bullet-active { opacity: 1; background: var(--swiper-pagination-color, var(--swiper-theme-color)); }

.swiper-container-vertical > .swiper-pagination-bullets { right: 10px; top: 50%; transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 6px 0; display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic { top: 50%; transform: translateY(-50%); width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { display: inline-block; transition: .2s transform,.2s top; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic { left: 50%; transform: translateX(-50%); white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet { transition: .2s transform,.2s left; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet { transition: .2s transform,.2s right; }

.swiper-pagination-progressbar { background: rgba(0, 0, 0, 0.25); position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: var(--swiper-pagination-color, var(--swiper-theme-color)); position: absolute; left: 0; top: 0; width: 100%; height: 100%; transform: scale(0); transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite { width: 100%; height: 4px; left: 0; top: 0; }

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-container-vertical > .swiper-pagination-progressbar { width: 4px; height: 100%; left: 0; top: 0; }

.swiper-pagination-white { --swiper-pagination-color:#ffffff; }

.swiper-pagination-black { --swiper-pagination-color:#000000; }

.swiper-pagination-lock { display: none; }

.swiper-scrollbar { border-radius: 10px; position: relative; -ms-touch-action: none; background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar { position: absolute; left: 1%; bottom: 3px; z-index: 50; height: 5px; width: 98%; }

.swiper-container-vertical > .swiper-scrollbar { position: absolute; right: 3px; top: 1%; z-index: 50; width: 5px; height: 98%; }

.swiper-scrollbar-drag { height: 100%; width: 100%; position: relative; background: rgba(0, 0, 0, 0.5); border-radius: 10px; left: 0; top: 0; }

.swiper-scrollbar-cursor-drag { cursor: move; }

.swiper-scrollbar-lock { display: none; }

.swiper-zoom-container { width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg { max-width: 100%; max-height: 100%; object-fit: contain; }

.swiper-slide-zoomed { cursor: move; }

.swiper-lazy-preloader { width: 42px; height: 42px; position: absolute; left: 50%; top: 50%; margin-left: -21px; margin-top: -21px; z-index: 10; transform-origin: 50%; animation: swiper-preloader-spin 1s infinite linear; box-sizing: border-box; border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color)); border-radius: 50%; border-top-color: transparent; }

.swiper-lazy-preloader-white { --swiper-preloader-color:#fff; }

.swiper-lazy-preloader-black { --swiper-preloader-color:#000; }

@keyframes swiper-preloader-spin { 100% { transform: rotate(360deg); } }

.swiper-container .swiper-notification { position: absolute; left: 0; top: 0; pointer-events: none; opacity: 0; z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide { transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide { pointer-events: none; transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide { pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active { pointer-events: auto; }

.swiper-container-cube { overflow: visible; }

.swiper-container-cube .swiper-slide { pointer-events: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; visibility: hidden; transform-origin: 0 0; width: 100%; height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide { pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide { transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active { pointer-events: auto; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev { pointer-events: auto; visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top { z-index: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow { position: absolute; left: 0; bottom: 0px; width: 100%; height: 100%; background: #000; opacity: .6; -webkit-filter: blur(50px); filter: blur(50px); z-index: 0; }

.swiper-container-flip { overflow: visible; }

.swiper-container-flip .swiper-slide { pointer-events: none; -webkit-backface-visibility: hidden; backface-visibility: hidden; z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide { pointer-events: none; }

.swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active { pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top { z-index: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/*# sourceMappingURL=../map/common.css.map */
